
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.main-container {
  font-family: "poppins";
  color: black;
  border: 1px solid black;
  padding: 0;
  margin: 0;
  width: 100%;
  /* background-color: #e8e2e2; */
}

body {
    font-family: 'Poppins', sans-serif;
    background: url('image.jpg') no-repeat center center fixed;
    background-size: cover;
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
}
  

.background {
    
  
    filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  margin: 0;
  padding: 0;
}

/* .background { */
  /* background-color: gainsboro; */
  /* filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; */
/* } */
/* Content Section */
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
 
}

.text-section {
    width: 50%;
  width: 80%;
 
}

.text-section h2 {
    font-size: 36px;
  font-size: 36px;
  color: rgb(139, 74, 0);
  margin-left: 200px;
  text-align: center;
}

.text-section p {
    font-size: 24px;
    color: #333;
  font-size: 24px;
  color: #333;
  margin-left: 150px;
  text-align: center;
}

/* What do we do section */
.what-we-do {
    padding: 20px 0;
  padding: 20px 0;
}

.what-we-do h2 {
    font-size: 32px;
    padding: 20px;
    color: darkblue;
    margin-bottom: 20px;
  font-size: 32px;
  padding: 20px;
  color: rgb(139, 74, 0);
  margin-bottom: 20px;
  margin-left: 600px;
}

.services {
    display: flex;
    justify-content: space-around;
  display: flex;
  justify-content: space-around;
}

.service {
    text-align: center;
   
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    margin: 0 10px; /* Space between services */
  text-align: center;
  background-color:  #af8f6f;
  padding: 20px;
  border-radius: 20px;
  flex: 1;
  margin: 0 10px; /* Space between services */
  box-shadow: 0 0 10px #f4d8af, 0 0 7px #a57135, 0 0 8px #b0742b;
}

.service img {
    width: 100%;
   
    height: auto;
    margin-bottom: 5px;
  width: 100%;
  /* max-width: 180px; */
  height: auto;
  margin-bottom: 5px;
  border-radius: 10px;
}

.service p {
    font-size: 16px;
    color: black;
  font-size: 26px;
  color: rgb(253, 250, 250);
}

.service:hover {
    background-color: lightblue;
  background-color: #8d6e45;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    margin-top: 20px;
}

footer small {
    font-size: 14px;
}