@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.main-container {
  font-family: "poppins";
  color: black;
  border: 1px solid black;
  padding: 0;
  margin: 0;
  width: 100%;
  /* background-color: #e8e2e2; */
}

body {
  font-family: "Poppins", sans-serif;

  margin: 0;
  padding: 0;
}

/* .background { */
  /* background-color: gainsboro; */
  /* filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; */
/* } */

/* Content Section */
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
 
}

.text-section {
  width: 80%;
 
}

.text-section h2 {
  font-size: 36px;
  color: rgb(139, 74, 0);
  margin-left: 200px;
  text-align: center;
}

.text-section p {
  font-size: 24px;
  color: #333;
  margin-left: 150px;
  text-align: center;
}

/* What do we do section */
.what-we-do {
  padding: 20px 0;
}

.what-we-do h2 {
  font-size: 32px;
  padding: 20px;
  color: rgb(139, 74, 0);
  margin-bottom: 20px;
  margin-left: 600px;
}

.services {
  display: flex;
  justify-content: space-around;
}

.service {
  text-align: center;
  background-color:  #af8f6f;
  padding: 20px;
  border-radius: 20px;
  flex: 1;
  margin: 0 10px; /* Space between services */
}

.service img {
  width: 100%;
  /* max-width: 180px; */
  height: auto;
  margin-bottom: 5px;
  border-radius: 10px;
}

.service p {
  font-size: 26px;
  color: rgb(253, 250, 250);
}

.service:hover {
  background-color: #8d6e45;
}

/* Footer */

