@import url("https://fonts.googleapis.com/css2?family=Margarine&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}



h1,
p,
a {
  margin: 0;
  padding: 0;
  
}

.header h1 {
  font-size: 2.8em;
  padding: 10px 0;
  font-weight: 800;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #7a5b2a,
    0 0 20px #8f5100, 0 0 25px #dd9d4f;
  color: #4b3115;
  letter-spacing: 5px;
}

p {
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 5px;
}


.search-cart-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  gap: 2px;
  margin-top: 20px;
}

.cart-icon1 {
  font-size: 23px;
  color: #131313;
  cursor: pointer;

  background-color: #e8e4d5;
  border: none;
}

.search-bar {
  padding: 15px;
  width: 350px; /* Adjust width to fit your design */
  border: 1px solid #222020;
  border-radius: 5px 5px 5px 0;
  margin-bottom: 10px;
}

.search-btn {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #39251a;
  color: #e8e4d5;
  font-size: 16px;
}


.search-cart-container a {
  color: #000000;
  font-size: 30px;
}

.fa-solid,
.fas {
  font-weight: 900;
  background-color:  #e8e4d5;
  border: none;
  margin-bottom: 10px;
  
}
.header {
  width: 100%;
  padding: 350px 0;
  text-align: center;
  background-image: url("../../assets/image copy 35.png");
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: rgb(4, 31, 88);
  font-size: 50px;
}

.title h2 {
  margin-top: 50px;
  letter-spacing: 3px;
  color: #4b3115;
  text-align: center;
  font-size: 6px;
  /* padding: 50px ; */
  font-weight: 800;
  font-family: "Lato";
}

/*category */
.cat {
  padding: 5px;
  text-align: center;
  background-color: #cbbcad;
  transition: 0.3s;
  width: 250px;
  border: 1px solid black;
  border-radius: 20%;
  margin: 10px;
  border: none;
}


.cat img {
  width: 240px;
  height: 240px;
  padding: 15px;
}
.cat:hover {
  transform: scale(1.1);
}
/* product cards*/
/* Float four columns side by side */
/* .column {
  float: left;
  padding: 100px;
  width: 27%;
} */

.category-1 {
  margin-left: 25px;
}
.category-1 a {
  text-decoration: none;
  color: #f1f1f1;
  letter-spacing: 3px;
  font-family: "Poppins";
}

/* Remove extra left and right margins, due to padding in columns */
/* .row {
  margin: 0 -5px;
} */
.container-1 h4 {
  font-size: 25px;
}


.row {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; 
  margin: 20px; 
  padding-top: 100px;
  padding-bottom: 200px;
  
} 

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -5px; /* Adjust as needed */}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* product cards*/
/* Float four columns side by side */
 .column-product {
  flex: 1; /* Equal size columns */
  padding: 10px;
  max-width: 300px; /* Optional: set max width */
  height:500px ;
 
 }
  




/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 10px;
  text-align: center;
  background-color: #f1f1f1;
  transition: 0.3s;
  width: 300px;
  height: 300px;
}



.card:hover {
  transform: scale(1.1);
}

.card .container-2 a {
  font-size: 20px;
  font-weight: 150;
  font-family: "Lato";
  text-decoration: none;
  color: #642907;
}
.card img {
  justify-content: space-between;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  align-content: center;
  transition: transform 0.5s;
}
.container-2 input[type="submit"] {
  background-color: #6b3f16;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.5s;
  float: l;
}

.container-2 input[type="submit"]:hover {
  opacity: 0.7;
} 
